body {
    margin:0!important;
    min-width:980px;
    font-size:13px;
    line-height:19px;
    color:#111;
    font-family:arial, sans-serif;
    padding:0;
    background-color:#fff;
    min-height:100%;
}

* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

div {
    display:block;
}

#navbar {
    position:relative;
    top:0;
    left:0;
    font-size:12px;
    line-height:1em;
    display:block;
    zoom:1;
    min-width:1000px;
}

#nav-belt {
    position:relative;
    width:100%;
    font-size:14px;
    z-index:5;
}

#nav-main{
    position:relative;
    z-index:4;
}

.borderStyle {
    border:solid;
    border-width:2px;
    border-radius:5px;
}

.leftSideBarStyle {
    position:relative;
    float:left;
    display:inline-block;
    left:20px;
}

.Grid {
    position:relative;
    background-color: #fff; 
    margin-left:auto;
    margin-right:auto;
    border: solid 1px #525252; 
    border-collapse:collapse; 
    font-family:Calibri; 
    color: #474747;
    text-align:center;
    font-size:20px;
}

.Grid td {
      padding: 10px;
      border: solid 1px #c1c1c1; }

.Grid th  {
      padding : 4px 2px;
      color: #fff;
      background: #363670 repeat-x top;
      border-left: solid 1px #525252;
      text-align:center;
}

.Grid .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }

.Grid .pgr {background: #363670 repeat-x top; }

.Grid .pgr table { margin: 3px 0; }

.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  

.Grid .pgr a { color:grey; text-decoration: none; }

.Grid .pgr a:hover { color: #000; text-decoration: none; }

.DetailList {
    background-color: #fff; 
    margin-left:auto;
    margin-right:auto;
    border: solid 1px #525252; 
    border-collapse:collapse; 
    font-family:Calibri; 
    color: #474747;
    text-align:center;
    font-size:20px;
}

.DetailList td {
      padding: 10px;
      border: solid 1px #c1c1c1; }

.DetailList th  {
      padding : 4px 2px;
      color: #fff;
      background: #363670 url(Images/grid-header.png) repeat-x top;
      border-left: solid 1px #525252;
      text-align:center;
}

.DetailList .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }


.container {
    position:relative;
    display:table;
    margin:0 auto;
}

.centerText {
    text-align:center;
}